In [14]:
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

# 1 - Print the three first rows using the head() method.
print("The first three rows of the DataFrame:")
print(df.head(3))

# 2 - Delete rows with NaN values.
df = df.dropna()
print("\nDataFrame after removing rows with NaN values:")
print(df)

# 3 - Extract the 'name' and 'score' columns from the DataFrame.
df = df[['name', 'score']]
print("\nDataFrame with only the 'name' and 'score' columns:")
print(df)

# 4 - Write a Pandas program to append a new row 'k' to the DataFrame with these values (name: "Suresh", score: 15.5, attempts: 1, qualify: "yes").
new_row = pd.DataFrame({'name': ['Suresh'], 'score': [15.5], 'attempts': [1], 'qualify': ['yes']}, index=['k'])
df = df.append(new_row)
print("\nDataFrame after adding a new row:")
print(df)

# 5 - Write a Pandas program to delete the 'attempts' column from the DataFrame.
df = df.drop(['attempts'], axis=1)
print("\nDataFrame after removing the 'attempts' column:")
print(df)

# 6 - Add a new column "Success": if the score is higher than 10 we will have 1, else we will have 0.
df['Success'] = np.where(df['score'] > 10, 1, 0)
print("\nDataFrame after adding a new 'Success' column:")
print(df)

# 7 - After executing the final DataFrame, export it into a CSV file named "my_data".
df.to_csv("my_data.csv", index=False)

The first three rows of the DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

DataFrame after removing rows with NaN values:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

DataFrame with only the 'name' and 'score' columns:
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
i      Kevin    8.0
j      Jonas   19.0

DataFrame after adding a new row:
        name  score  attempts qualify
a  Anastasia   12.5       NaN     NaN
b       Dima    9.0       NaN     NaN
c  Katherine   16.5       NaN     NaN
e      Emily    9.0       NaN     NaN
f    Michael   20.0       NaN     NaN
g    Matthew   14.5       NaN     NaN
i      Kevin    8.0       NaN     NaN
j      Jonas   19.0       NaN     NaN
k     Suresh   15.5       1.0     yes

DataFrame after removing the 'attempts' column:
        name  score qualify
a  Anastasia   12.5     NaN
b       Dima    9.0     NaN
c  Katherine   16.5     NaN
e      Emily    9.0     NaN
f    Michael   20.0     NaN
g    Matthew   14.5     NaN
i      Kevin    8.0     NaN
j      Jonas   19.0     NaN
k     Suresh   15.5     yes

DataFrame after adding a new 'Success' column:
        name  score qualify  Success
a  Anastasia   12.5     NaN        1
b       Dima    9.0     NaN        0
c  Katherine   16.5     NaN        1
e      Emily    9.0     NaN        0
f    Michael   20.0     NaN        1
g    Matthew   14.5     NaN        1
i      Kevin    8.0     NaN        0
j      Jonas   19.0     NaN        1
k     Suresh   15.5     yes        1

C:\Users\black\AppData\Local\Temp\ipykernel_10272\1243932085.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row)